.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-light);
  z-index: 1000;
}

.heroContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--container-max-width);
  background-image: url('../../../assets/light-grid.png');
  background-repeat: no-repeat;
  background-position: right;
}

.heroTextContainer {
  max-width: 585px;
  margin-right: 20px;
}

.heroTitle {
  font-size: 52px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}

.heroDescription {
  font-size: 16px;
  margin-bottom: 40px;
}

.heroImageContainer {
  margin-left: 20px;
}

@media (max-width: 1280px) {
  .heroContentContainer {
    padding: 0px 20px;
  }
}

@media (max-width: 1024px) {
  .heroImageContainer img {
    width: 444px;
  }
}

@media (max-width: 768px) {
  .heroImageContainer img {
    width: 300px;
  }
}

@media (max-width: 460px) {
  .heroTextContainer {
    width: 100%;
    margin: 0;
  }

  .heroImageContainer {
    flex-direction: column;
    margin: 0;
  }

  .heroImageContainer img {
    display: none;
  }
}
