.ourValuesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh + 72px);
  background-color: var(--background-light);
  z-index: 10;
}

.ourValuesContentContainer {
  width: var(--container-max-width);
}

.ourValuesTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ourValuesTitle {
  font-size: 52px;
  font-weight: bold;
  color: var(--text-color-dark) !important;
  line-height: 1;
  margin-bottom: 15px;
}

.ourValuesDescription {
  width: 65%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--text-color-normal) !important;
}

.ourValuesCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1280px) {
  .ourValuesContentContainer {
    padding: 0px 30px;
  }
}

@media (max-width: 1280px) {
  .ourValuesTitle {
    text-align: center;
  }

  .ourValuesTextContainer {
    padding: 20px 0;
  }

  .ourValuesDescription {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 460px) {
  .ourValuesCardContainer {
    padding: 0px 20px 20px 20px;
  }
}
