.footerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background-dark);
  color: var(--text-color-light);
  z-index: 1000;
}

.footerContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--container-max-width);
  background-image: url('../../assets/dark-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -500%;
}

.footerTextContainer {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
}

.footerHeader {
  font-size: 48px;
  font-weight: normal;
  color: var(--text-color-light) !important;
  line-height: 1;
}

.footerText {
  font-size: 16px;
  margin: 10px 0px 35px 0px;
  color: var(--text-color-light) !important;
}

.footerColumnsContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  height: 100px;
  margin-bottom: 60px;
}

.footerColumn svg {
  width: 115px;
}

.footerColumn span p {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 4px;
}

.footerColumn span {
  display: flex;
  align-items: center;
}

.footerColumn span svg {
  display: flex;
  align-items: center;
  width: 20px;
  margin-right: 10px;
}

.footerColumn a {
  margin: 5px 0px;
}

.footerColumn a:hover {
  color: var(--secondary-color);
}

.footerColumn h4 {
  margin-bottom: 5px;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0px;
  color: var(--text-color-normal);
}

@media (max-width: 1280px) {
  .footerContentContainer {
    padding: 0px 30px;
  }
}

@media (max-width: 460px) {
  .footerColumn span {
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  .footerTextContainer {
    width: 90%;
  }

  .footerColumnsContainer {
    width: 90%;
  }

  .foot {
    width: 90%;
  }
}
