.button {
  max-width: 200px;
  height: 48px;
  padding: 14px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.11);
}

.white {
  background-color: #fff;
  color: var(--text-color-normal);
  border: 1px solid var(--background-light) !important;
}

.white:hover {
  background-color: var(--background-light);
}

.primary {
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid var(--secondary-color) !important;
}

.primary:hover {
  background-color: var(--primary-color-dark);
}
