.whyUsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh + 72px);
  background-color: var(--background-light);
  background-image: url('../../../assets/light-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10%;
  background-size: 500px;
  z-index: 1000;
}

.whyUsContentContainer {
  width: var(--container-max-width);
}

.whyUsTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.whyUsTitle {
  font-size: 52px;
  font-weight: bold;
  color: var(--text-color-dark) !important;
  line-height: 1;
  margin-bottom: 15px;
}

.whyUsDescription {
  width: 65%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--text-color-normal) !important;
}

.whyUsCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1280px) {
  .whyUsContentContainer {
    padding: 0px 30px;
  }
}

@media (max-width: 1280px) {
  .whyUsTitle {
    text-align: center;
  }

  .whyUsTextContainer {
    padding: 20px 0;
  }

  .whyUsDescription {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 460px) {
  .whyUsCardContainer {
    padding: 0px 20px 20px 20px;
  }
}
