.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: var(--background-light);
  padding: 0 80px;
}

.heroTextContainer {
  max-width: 585px;
  margin-right: 20px;
}

.heroTitle {
  font-size: 52px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-color-dark);
  margin-bottom: 20px;
}

.heroDescription {
  font-size: 16px;
  margin-bottom: 40px;
}

.heroImageContainer {
  margin-left: 20px;
}
