.serviceCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  height: 75px;
}

.serviceCardIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  min-height: 75px;
  background-color: rgba(93, 96, 252, 0.09);
  border-radius: 14px;
  margin-right: 25px;
}

.serviceCardIcon svg {
  width: 40px;
  height: 40px;
}

.serviceCardTitle {
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color-dark);
}

@media (max-width: 910px) {
  .serviceCard {
    height: 110px;
  }
}

@media (max-width: 660px) {
  .serviceCard {
    height: 100px;
  }
}

@media (max-width: 460px) {
  .serviceCard {
    height: 115px;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .serviceCard .serviceCardIcon {
    margin-top: 4px;
  }
}

@media (max-width: 375px) {
  .serviceCard {
    height: 130px;
  }
}
