.servicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url('../../../assets/white-grid.png');
  background-repeat: no-repeat;
  background-position-x: 35%;
  background-position-y: 50%;
}

.servicesContentContainer {
  display: flex;
  align-items: center;
  width: var(--container-max-width);
  min-height: 100vh;
}

.servicesTextContainer {
  width: 50%;
  padding-right: 100px;
}

.servicesTitle {
  font-size: 52px;
  font-weight: bold;
  color: var(--text-color-dark) !important;
  line-height: 1;
  margin-bottom: 10px;
}

.servicesDescription {
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--text-color-normal) !important;
}

.servicesContainer {
  width: 50%;
  padding-left: 100px;
}

@media (max-width: 1280px) {
  .servicesContentContainer {
    padding: 0px 30px;
  }
}

@media (max-width: 1024px) {
  .servicesContainer {
    padding-left: 0px;
  }

  .servicesTextContainer {
    padding-right: 40px;
  }
}

@media (max-width: 660px) {
  .servicesContentContainer {
    flex-direction: column;
  }

  .servicesTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0px 40px 0px;
    text-align: center;
  }

  .servicesContainer {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .servicesDescription {
    margin-bottom: 16px;
  }
}
