.horizontalScrollCarousel {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: var(--container-max-width);
  height: 300vh;
  background-color: #ffffff;
}

.horizontalScrollCarouselContainer {
  position: sticky;
  top: 0;
  display: flex;
  height: calc(100vh + 72px); /* Equivalente a h-screen */
  align-items: center;
  overflow: hidden;
  background-image: url('../../../assets/white-grid.png');
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 50%;
}

.horizontalScrollCarouselContainer .left,
.horizontalScrollCarouselContainer .right {
  display: flex;
  width: 50%;
  overflow: hidden;
}

.horizontalScrollCarouselInner {
  display: flex;
  gap: 3rem;
}

.OurProcessTextContainer {
  padding: 40px 0 40px 40px;
}

.OurProcessTitle {
  font-size: 52px;
  font-weight: bold;
  color: var(--text-color-dark) !important;
  line-height: 1;
  margin-bottom: 10px;
}

.OurProcessDescription {
  font-size: 16px;
  margin-bottom: 40px;
  color: var(--text-color-normal) !important;
}
